*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --brand: #E7007D;
  --brand-dark: #b8005f;
  --brand-light: #fce8f3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
